{
	"presets": ["env", "react", "stage-2"],
//	"env": {
//		"development": {
//			"presets": [
//				"react-hmre"
//			]
//		}
//	},
	"plugins": [["transform-runtime", {
		"helpers": false,
		"polyfill": false,
		"regenerator": true }], "transform-class-bound-properties", "transform-class-properties", "react-hot-loader/babel"]
}
