body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	background: black;
	padding-top: 3.5rem;
	height: 100%;
}

.container__card--img {
	position: relative;
	color: darkgray;
}

.container_card--div {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	background-color: white;
	padding: 0 0.25rem;
	border-radius: 1rem;
}

.list-group__div--profile > p{
	line-height: 16px;
	margin: 0;
}

.kolorki {
	background-color: darkgray;
}
